<a href="https://colab.research.google.com/github/SYKIM5396/TIL/blob/main/Practicing_pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Practicing pandas**


데이터 링크
https://www.kaggle.com/datasets/chinmayshanbhag/historical-price-data-of-8-edible-oils-commodity

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format='retina'

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/SYKIM5396/TIL/main/Data%20CSVs/8%20Edible%20Oils.csv')
df.head()

,Month,Coconut Oil Price,Coconut Oil Price Change,Olive Oil Price,Olive Oil Price Change,Palm Kernel Oil Price,Palm Kernel Oil Price Change,Palm Oil Price,Palm Oil Price Change,Peanut Oil Price,Peanut Oil Price Change,Rapeseed Oil Price,Rapeseed Oil Price Change,Soybean Oil Price,Soybean Oil Price Change,Sunflower Oil Price,Sunflower Oil Price Change
0,Aug 1992,494.00,-,"3,490.25",-,NaN,NaN,382.00,-,600.00,-,NaN,NaN,409.00,-,NaN,NaN
1,Sep 1992,501.00,1.42%,"3,342.78",-4.23%,NaN,NaN,391.00,2.36%,562.00,-6.33%,NaN,NaN,421.00,2.93%,NaN,NaN
2,Oct 1992,493.00,-1.60%,"2,986.24",-10.67%,NaN,NaN,396.00,1.28%,565.00,0.53%,NaN,NaN,418.00,-0.71%,NaN,NaN
3,Nov 1992,496.00,0.61%,"2,747.90",-7.98%,NaN,NaN,413.00,4.29%,575.00,1.77%,NaN,NaN,437.00,4.55%,NaN,NaN
4,Dec 1992,461.00,-7.06%,"2,793.15",1.65%,NaN,NaN,401.00,-2.91%,622.00,8.17%,NaN,NaN,436.00,-0.23%,NaN,NaN

In [11]:
#str.startswith 메서드 : 특정 문자로 시작하는 데이터 찾기
df[df["Olive Oil Price"].str.startswith('1,')]

,Month,Coconut Oil Price,Coconut Oil Price Change,Olive Oil Price,Olive Oil Price Change,Palm Kernel Oil Price,Palm Kernel Oil Price Change,Palm Oil Price,Palm Oil Price Change,Peanut Oil Price,Peanut Oil Price Change,Rapeseed Oil Price,Rapeseed Oil Price Change,Soybean Oil Price,Soybean Oil Price Change,Sunflower Oil Price,Sunflower Oil Price Change
339,Nov 2020,"1,368.95",22.41%,"1,389.97",-57.70%,"1,073.48",33.20%,917.81,12.03%,"1,878.61",0.05%,"1,047.78",12.94%,973.88,6.46%,"1,176.12",13.01%
340,Dec 2020,"1,464.96",7.01%,"1,313.41",-5.51%,"1,224.87",14.10%,"1,016.37",10.74%,"1,977.17",5.25%,"1,097.63",4.76%,"1,026.20",5.37%,"1,240.71",5.49%

In [14]:
#isin 메서드 : 어떤 list에 존재하는 요소가 대상 DataFrame이나 Series에 존재 하는지를 True(존재), False(존재안함)로 반환
list1 =['Aug 1992','Dec 2000','Apr 2020']
df.loc[df.Month.isin(list1)]

,Month,Coconut Oil Price,Coconut Oil Price Change,Olive Oil Price,Olive Oil Price Change,Palm Kernel Oil Price,Palm Kernel Oil Price Change,Palm Oil Price,Palm Oil Price Change,Peanut Oil Price,Peanut Oil Price Change,Rapeseed Oil Price,Rapeseed Oil Price Change,Soybean Oil Price,Soybean Oil Price Change,Sunflower Oil Price,Sunflower Oil Price Change
0,Aug 1992,494.00,-,"3,490.25",-,NaN,NaN,382.00,-,600.00,-,NaN,NaN,409.00,-,NaN,NaN
100,Dec 2000,329.00,-10.35%,"2,601.72",1.94%,317.00,-10.45%,265.00,3.11%,806.79,4.83%,NaN,NaN,320.57,1.20%,NaN,NaN
332,Apr 2020,834.51,-0.38%,"2,775.09",-0.76%,720.69,4.29%,608.88,-4.30%,"1,527.27",8.09%,758.96,-4.73%,679.98,-9.07%,732.10,0.29%

In [15]:
#isin 메서드 반환 형태 확인
df.Month.isin(list1)

0       True
1      False
2      False
3      False
4      False
       ...
355    False
356    False
357    False
358    False
359    False
Name: Month, Length: 360, dtype: bool